.clipboard {
    position: relative;
    display: block;
    float: right;
    right: 29px;
    line-height: 0px;
    width: 0px;
    top: 10px;
    font-size: x-small;
    cursor: pointer;
    color: rgb(0,0,0,0.5);
}

.header-link span.btn-clipboard-link {
    display: none;
}

.header-link:hover span.btn-clipboard-link {
    display: inline;
}

.clipboard:hover {
  color: var(--md-accent-fg-color);
  transition: color 125ms;
}

.btn-clipboard-link{
    margin-left: 5px;
    cursor: pointer;
    color: rgb(0,0,0,0.5);

}

blockquote{
    border-left: 5px solid var(--md-accent-fg-color);
    padding-left: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-left: 5px solid lightskyblue;
    background-color: beige;
}


